{
  "Android_3.3721_tuyoo.weakChinaMobile,woStore,aigame.0-hall7.wandou.dj" : 12841,
  "Android_3.3721_huawei.huawei,weakChinaMobile,woStore,aigame.0-hall7.huawei.dj" : 12842,
  "Android_3.3721_oppo.oppo,weakChinaMobile,woStore.0-hall7.oppo.dj" : 12843,
  "Android_3.3721_tuyoo.weakChinaMobile.0-hall7.ali.dj" : 12844
}

